<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.2.13" />
	</configSections>
	<log4net>
		<logger name="lognormal">
			<level value="INFO" />
			<appender-ref ref="NormalAppender" />
		</logger>
		<logger name="logfatal">
			<level value="INFO" />
			<appender-ref ref="FatalAppender" />
		</logger>
		<logger name="logdebug">
			<level value="DEBUG" />
			<appender-ref ref="DebugAppender" />
		</logger>
		<logger name="logop">
			<level value="INFO" />
			<appender-ref ref="OpAppender" />
		</logger>
		<logger name="logproto">
			<level value="INFO" />
			<appender-ref ref="ProtoAppender" />
		</logger>
		<appender name="NormalAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Bin\\Log\\OTMS_trace.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="FatalAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Bin\\Log\\OTMS_fatal.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Bin\\Log\\OTMS_debug.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="OpAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Bin\\Log\\OTMS_op.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="ProtoAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Bin\\Log\\OTMS_proto.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
	</log4net>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" appRequestQueueLimit="1000" />
	  <customErrors mode="Off" />
	  <caching>
		<cache disableMemoryCollection="false" disableExpiration="false" privateBytesLimit ="20971520" percentagePhysicalMemoryUsedLimit = "60" privateBytesPollTime="00:30:00"/>
	  </caching>
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".zmmp" mimeType="application/json" />
            <mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.chi" />
                <add value="frame.chi" />
                <add value="index.html" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="CHI" path="*.chi" verb="*" modules="IsapiModule" scriptProcessor="F:\InetPub\wwwroot\OTMS\zmSvr\chi.dll" resourceType="Unspecified" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
