.icon-cf003f8ea213b15f6040fd497502b107{
background:url('icons/002.png') no-repeat;background-size:16px 16px;
}
.icon-0f57ac0fa50830397b302ea18e624525{
background:url('icons/003.png') no-repeat;background-size:16px 16px;
}
.icon-cb19a159aab933e6ce71f4bd4efa2682{
background:url('icons/004.png') no-repeat;background-size:16px 16px;
}
.icon-9d3f7398ea8247ffce327f4893f72a6b{
background:url('icons/005.png') no-repeat;background-size:16px 16px;
}
.icon-40869012c2cfa58732447186efa40083{
background:url('icons/006.png') no-repeat;background-size:16px 16px;
}
.icon-e802e401d307e8c1db3ffb0c746a100b{
background:url('icons/007.png') no-repeat;background-size:16px 16px;
}
.icon-027d7d4baa24a7e53ed12c963433e1cd{
background:url('icons/008.png') no-repeat;background-size:16px 16px;
}
.icon-4e276920cd46780cf7da40d8848a57eb{
background:url('icons/009.png') no-repeat;background-size:16px 16px;
}
.icon-3d2782d1dd4d24e722d5906b0d3cb2da{
background:url('icons/010.png') no-repeat;background-size:16px 16px;
}
.icon-a75450c004537bfba040852270c2670b{
background:url('icons/011.png') no-repeat;background-size:16px 16px;
}
.icon-0c49ffc473d19f6fc74ed5bd9f17a79a{
background:url('icons/012.png') no-repeat;background-size:16px 16px;
}
.icon-83c4cd5823c20d26a2b871f3cb67eaa3{
background:url('icons/013.png') no-repeat;background-size:16px 16px;
}
.icon-6024dcf886825aab0f16e50a6980148a{
background:url('icons/014.png') no-repeat;background-size:16px 16px;
}
.icon-213ce1740f28e1315a6239e1ac3861e6{
background:url('icons/015.png') no-repeat;background-size:16px 16px;
}
.icon-ca7e75952a35485d6b7c115f5a11b41e{
background:url('icons/016.png') no-repeat;background-size:16px 16px;
}
.icon-a328046ee1cb59e6636704422b0916ea{
background:url('icons/017.png') no-repeat;background-size:16px 16px;
}
.icon-6827b7d67b73bd20e2d77c64854c9ff8{
background:url('icons/018.png') no-repeat;background-size:16px 16px;
}
.icon-c44162557c9916535ebb18c0eaf3bd3a{
background:url('icons/019.png') no-repeat;background-size:16px 16px;
}
.icon-2988398f15c7c5e810d050ac2315095c{
background:url('icons/02.png') no-repeat;background-size:16px 16px;
}
.icon-243e5cc1d53ee0f73a0defd6dcf08575{
background:url('icons/020.png') no-repeat;background-size:16px 16px;
}
.icon-ca0d5649d29c9141f583d04fef719bd2{
background:url('icons/021.png') no-repeat;background-size:16px 16px;
}
.icon-ddd691d6623ee0ad50904cbd2bcc9c99{
background:url('icons/022.png') no-repeat;background-size:16px 16px;
}
.icon-880bb242e3264aa4273a066abbd9708b{
background:url('icons/023.png') no-repeat;background-size:16px 16px;
}
.icon-46445859e51a6282d17007afd0c12a1c{
background:url('icons/024.png') no-repeat;background-size:16px 16px;
}
.icon-719072ecf481df4dca7f2dbea21d11bf{
background:url('icons/025.png') no-repeat;background-size:16px 16px;
}
.icon-65aec447681395b23782fe5fb56dc250{
background:url('icons/026.png') no-repeat;background-size:16px 16px;
}
.icon-d73e0f721cb92b5c67c5520bc14072cb{
background:url('icons/03.png') no-repeat;background-size:16px 16px;
}
.icon-b8ee0509f63291cd19e6b1f71d951798{
background:url('icons/04.png') no-repeat;background-size:16px 16px;
}
.icon-c31b4b4c3405d76decfc13f19eee36bf{
background:url('icons/05.png') no-repeat;background-size:16px 16px;
}
.icon-6dccab70e22cfdf4b278871bc6838c57{
background:url('icons/06.png') no-repeat;background-size:16px 16px;
}
.icon-b6fa17bc64995553f156b29e84e98f07{
background:url('icons/07.png') no-repeat;background-size:16px 16px;
}
.icon-810dc2b2731c099a94f678d0d0f7c38c{
background:url('icons/08a.png') no-repeat;background-size:16px 16px;
}
.icon-6247c2fb21674821fd04f25eecfe892a{
background:url('icons/09.png') no-repeat;background-size:16px 16px;
}
.icon-6c436faef5b926561df8d5530d3ccf55{
background:url('icons/tip.png') no-repeat;background-size:16px 16px;
}
